@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

ul.description {
  list-style-type: none;
  margin: 0;
  height: 104px;
  width: 224px;
  padding: 8px 0 0 0;
  font-family: Roboto, 'Seogoe UI Bold';
  font-size: 16px;
  line-height: 24px;
  text-decoration: none solid rgb(59, 65, 68);
  letter-spacing: -0.1px;
  word-spacing: 0px;
  display: block;
  box-sizing: border-box;
}

li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.price {
  height: 24px;
  display: block;
  font-size: 20px;
  font-weight: 500;
  /* font weight 700 is for TruliaSans - will refractor */
  white-space: nowrap;
}

img.avatar {
  height: 20px;
  width: 20px;
  display: inline;
  box-sizing: border-box;
  /* align-items: baseline; */
}