@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.header {
  font-family: Roboto, 'Seogoe UI Bold';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: start;
  letter-spacing: -0.1px;
  text-decoration: none solid rgb(59, 65, 68);
}