// the entire image carousel
.slider {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: red;
}

// each listing image and its description
.slide {
  cursor: pointer;
  width: 224px;
  min-width: 224px;
  overflow: hidden;
  margin: 9px; // space btwn each listing from trulia
  border-radius: 10px; // rounded corners
}

.image {
  overflow: hidden; // keep frame the same size when zooming in
  border-radius: 10px; // keep rounded corners when zooming in
}

img {
  box-sizing: border-box;
  display: block;
  float: center;
  width:  224px;
  height: 160px;
  max-height: 160px;
  max-width: 224px;
  object-fit: cover;
  border-radius: 10px; // rounded corners
}

.image img {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  vertical-align: middle;
}

.image img:hover {
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  transform:scale(1.1);
}

%btn-styles {
  position: absolute;
  height: 32px;
  width: 32px;
  border: 1px solid #FFFFFF;
  padding: 1px 1px 1px 1px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-sizing: border-box;
  box-shadow: rgba(134, 144, 153, 0.18) 0px 8px 16px 0px, rgba(59, 65, 68, 0.05) 0px 2px 4px 0px;
}

button img {
  height: auto;
  width: auto;
}

.goLeft {
  left: 0;
  @extend %btn-styles;
}

.goRight {
  right: 0;
  @extend %btn-styles;
}