/* // the entire image carousel (flexbox container) */
.slider {
  width: 992px;
  // position: relative;
  // box-sizing: border-box;
  display: flex;
  align-items: center; //align button and all items to center
  transition: 0.5s;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll; //keeps it to the specified width
  white-space: nowrap;
  margin: auto;
  z-index: -10;
}

/* // each listing image and its description (flexbox items) */
.slide {
  cursor: pointer;
  display: inline-block;
  width: 224px;
  min-width: 224px;
  overflow: hidden;
  margin: 9px; // space btwn each listing from trulia
  border-radius: 10px; // rounded corners
  flex-shrink: 0;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.image {
  overflow: hidden; // keep frame the same size when zooming in
  border-radius: 10px; // keep rounded corners when zooming in
}

.listingPic img {
  box-sizing: border-box;
  display: block;
  float: center;
  width:  224px;
  height: 160px;
  max-height: 160px;
  max-width: 224px;
  object-fit: cover;
  border-radius: 10px; // rounded corners
}

.image img {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  vertical-align: middle;
}

.image img:hover {
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  transform: scale(1.1);
}

%btn-styles {
  display: inline-block;
  z-index: 2;
  // overflow: auto;
  position: absolute;
  margin: auto;
  // top: 17%;
  height: 32px;
  width: 32px;
  border: 1px solid #FFFFFF;
  padding: 1px 1px 1px 1px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  outline: none;
  box-sizing: border-box;
  transition: 0.5s;
  &:hover {
    box-shadow: rgba(134, 144, 153, 0.18) 0px 8px 16px 0px, rgba(59, 65, 68, 0.05) 0px 2px 4px 0px;
    cursor: pointer;
  }
}

button img {
  height: auto;
  width: auto;
}

.goLeft {
  left: 220px;
  @extend %btn-styles;
}

.goRight {
  right: +220px;
  @extend %btn-styles;
}