.slide {
  order: 10;
  cursor: pointer;
  display: inline-block;
  width: 224px;
  min-width: 224px;
  overflow: hidden;
  margin: 9px; // space btwn each listing from trulia
  border-radius: 10px; // rounded corners
  flex-shrink: 0;
  align-self: flex-start;
  align-items: flex-start;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;

}